version: "3.9"

services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - .:/var/www/html
    expose:
      - "9000"
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: websocket_nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: chat
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"

  websocket:
    build:
      context: ./websocket-server
      dockerfile: Dockerfile
    container_name: websocket_server
    ports:
      - "8080:8080"
    networks:
      - appnet
    depends_on:
      - app

networks:
  appnet:
    driver: bridge
